<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>The Vortex | Create new event</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='createEvent.css') }}">
	</head>
	<body>
		<header class='nav'>
			<img class='logo' src="{{url_for('static', filename='images/logo1nobg.png') }}"/>
			<ul>
				<li><a href='/dash'>Events around the globe</a></li>
				<li><a href='/dash'>Events near me</a></li>
				<li><a href='/create'>Create new event</a></li>
				<!-- <li id='ili'>
					<input type='text' placeholder='Search for words or objects in events'/>
					<button>🔎</button>
				</li> -->
				<li id='sli'><a href=''>Sign out<img src="{{url_for('static', filename='images/userpic2.png') }}"/></a></li>
			</ul>
		</header>
		<main>
			<header>
				<h1>{{uname}}, here you can <span>create</span> a new event</h1>
				<h2>Share your perspective with the world and let others share theirs about this event! 📺</h2>
			</header>
			<section>
				<form action="/createEvent" method="post" enctype="multipart/form-data">
				<div>
					<label>Event Name</label><br/>
					<input name='name' type='text' placeholder='Like: Lockdown Graduation Parties 2021'/>
				</div>

				<div>
					<label>Description</label><br/>
					<input name='desc' type='text' placeholder='The best graduation lockdown parties'/>
				</div>

				<div>
					<label>Upload your event's gif!</label>
					<button id='add-file'>
						Pick my GIF
						<input type='file' name='file'/>
					</button>
				</div>

					<input type="submit" id='addBtn' value="Add event to the Vortex">
				</form>
			</section>
		</main>
	</body>
</html>
