<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>The Vortex | Home</title>
		<link rel="stylesheet" href="./dashboard.css">
	</head>
	<body>
		<header class='nav'>
			<img class='logo' src='./static/logo1nobg.png'/>
			<ul>
				<li><a href=''>Events around the globe</a></li>
				<li><a href=''>Events near me</a></li>
				<li><a href=''>Create new event</a></li>
				<li id='ili'>
					<input type='text' placeholder='Search for words or objects in events'/>
					<button>🔎</button>
				</li>
				<li id='sli'><a href=''>Sign out<img src='./static/userpic2.png'/></a></li>
			</ul>
		</header>
		<main>
			<header>
				<h1>Explore new <span id='changingText'>events</span> around the globe</h1>
				<h2>Welcome back, Mauricio! &#128075;</h2>
			</header>

			<section class='events-to-browse'>
				<div class='event-thumb'>
					<img src='./static/superbowl_gif.gif'>
					<div>
						<p>Super Bowl Sunday 2021</p>
						<span>Something something something</span>
					</div>
				</div>
				<div class='event-thumb'>
					<img src='./static/springbreak_gif.gif'>
					<div>
						<p>Bethany's 1-year-old Birthday Party</p>
						<span>Something something something</span>
					</div>
				</div>
				<div class='event-thumb'>
					<img src='./static/springbreak_gif.gif'>
					<div>
						<p>Spring Break 2021</p>
						<span>Something something something</span>
					</div>
				</div>
				<div class='event-thumb'>
					<img src='./static/apple_gif.gif'>
					<div>
						<p>My Family Memories</p>
						<span>Something something something</span>
					</div>
				</div>
				<div class='event-thumb'>
					<img src='./static/superbowl_gif.gif'>
					<div>
						<p>Clubhouse Behind The Scenes</p>
						<span>Something something something</span>
					</div>
				</div>
				<div class='event-thumb'>
					<img src='./static/apple_gif.gif'>
					<div>
						<p>The biggest event in tech!</p>
						<span>Something something something</span>
					</div>
				</div>
				<div class='event-thumb'>
					<img src='./static/springbreak_gif.gif'>
					<div>
						<p>Philosophical Thoughts by Unphilosophical People</p>
						<span>Something something something</span>
					</div>
				</div>
				<div class='event-thumb'>
					<img src='./static/apple_gif.gif'>
					<div>
						<p>Wasting Time</p>
						<span>Something something something</span>
					</div>
				</div>
			</section>
		</main>
	</body>
	<script type="text/javascript">
		const t = document.getElementById('changingText');
		const a = ['perspectives', 'videos', 'stories', 'opinions', 'moments']
		for (let i = 0; i < 5; i++) {
			setTimeout(() => {
				t.innerHTML = a[i]
			}, i * 1500);
		}
	</script>
</html>
