<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>The Vortex | Home</title>
		<link rel="stylesheet" href="{{url_for('static', filename='dashboard.css') }}">
		<style>
			a {
				text-decoration: none;
			}
		</style>
	</head>
	<body>
		<header class='nav'>
			<img class='logo' src="{{url_for('static', filename='images/logo1nobg.png') }}"/>
			<ul>
				<li><a href='/dash'>Events around the globe</a></li>
				<li><a href='/dash'>Events near me</a></li>
				<li><a href='/create'>Create new event</a></li>
				<li id='ili'>
					<input type='text' placeholder='Search for words or objects in events'/>
					<button>🔎</button>
				</li>
				<li id='sli'><a href=''>Sign out<img src="{{url_for('static', filename='images/userpic2.png') }}"/></a></li>
			</ul>
		</header>
		<main>
			<header>
				<h1>Explore new <span id='changingText'>events</span> around the globe</h1>
				<h2>Welcome back, {{uname}}! &#128075;</h2>
			</header>

			<section class='events-to-browse'>
				{% for each_event in events %}
				<a href="/event/{{each_event['eid']}}">
				<div class='event-thumb'>
					<img src="https://storage.googleapis.com/vortexgif/{{each_event['gifpic']}}">
					<div>
						<p>{{each_event['name']}}</p>
						<span>{{each_event['desc']}}</span>
					</div>
				</div> </a>
				{% endfor %}
			</section>
		</main>
	</body>
	<script type="text/javascript">
		const t = document.getElementById('changingText');
		const a = ['perspectives', 'videos', 'stories', 'opinions', 'moments']
		for (let i = 0; i < 5; i++) {
			setTimeout(() => {
				t.innerHTML = a[i]
			}, i * 1500);
		}
	</script>
</html>
