<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>The Vortex | {{event['name']}}</title>
		<link rel="stylesheet" href="{{url_for('static', filename='event.css') }}">
		<style>
			iframe{
				display:none;
			}
		</style>
	</head>
	<body>
		<header class='nav'>
			<img class='logo' src="{{url_for('static', filename='images/logo1nobg.png') }}"/>
			<ul>
				<li><a href='/dash'>Events around the globe</a></li>
				<li><a href='/dash'>Events near me</a></li>
				<li><a href='/create'>Create new event</a></li>
				<li id='ili'>
					<input type='text' placeholder='Search for words or objects in the videos'/>
					<button>🔎</button>
				</li>
				<li id='sli'><a href=''>Sign out<img src="{{url_for('static', filename='images/userpic2.png') }}"/></a></li>
			</ul>
		</header>
		<main>
			<header>
				<h1>{{event['name']}}</h1>
				<h2>Watch this {{event['name']}}'s AI-generated highlights &#129304;</h2>
			</header>

			<section class='highlight-area'>
				<div class='highlight'>
					<!-- <video></video> -->
					<iframe
						id="ai"
						width="450"
						height="300"
						src="https://storage.googleapis.com/vortexvideo/8t7jkii378veed.mp4"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen>
					</iframe>

					<div class='reactions'>
						<div class='reaction'>
							<button id='reaction1btn'>❤️</button>
							<span id='reaction1'>0</span>
						</div>
						<div class='reaction'>
							<button id='reaction2btn'>&#129304;</button>
							<span id='reaction2'>0</span>
						</div>
						<div class='reaction'>
							<button id='reaction3btn'>&#128293;</button>
							<span id='reaction3'>0</span>
						</div>
						<div class='reaction'>
							<button id='reaction4btn'><img src='/static/images/adance_gif.gif'/></button>
							<span id='reaction4'>0</span>
						</div>
						<div class='reaction' id='last-reaction'>
							<button id='reaction5btn'><img src='/static/images/oscardance_gif.gif'/></button>
							<span id='reaction5'>0</span>
						</div>
					</div>
				</div>
				<div class='comments'>
					<div class='list' id='comment-list'>
						<div class='comment'>
							<img src="{{url_for('static', filename='images/userpic1.png') }}"/>
							<p>That is awesome! I wish I can go next time as soon as the pandemic is over!</p>
						</div>
						<div class='comment'>
							<img src="{{url_for('static', filename='images/userpic2.png') }}"/>
							<p>Damn. I went there! That was amazing...</p>
						</div>
					</div>
					<div class='submit-comment'>
						<textarea rows='4' cols='50' id='textarea'></textarea>
						<button id='submit-comment-btn'>
							Post Comment
						</button>
					</div>
				</div>
			</section>

			<section class='add'>
				<h3>Let's share your perspective and contribute to this vortex's event:</h3>
				<form  id="form" action="/upload" method="post" enctype="multipart/form-data">
					<input type="hidden" name="eventid" value="{{id}}">
					<button>+<input id="file" type='file' name='file'/></button>
				</form>
			</section>
			<section class='all-videos'>
				<h3>All videos from {{event['name']}}. All perspectives.</h3>
				<small>Here's all the perspectives from {{event['name']}} that we processed!</small>
					<div class='videos'>
						{% for each_moment in moments %}
							<div class='posted-video'>
								<img src="https://storage.googleapis.com/vortexgif/{{each_moment['vid']}}.gif">
								<div>
									<p>Posted by @{{each_moment['uid']}}</p>
								</div>
							</div>
						{% endfor %}
				</div>
			</section>
		</main>
	</body>
	<script type="text/javascript">
		const reaction1 = document.getElementById('reaction1')
		const reaction1Btn = document.getElementById('reaction1btn')

		const reaction2 = document.getElementById('reaction2')
		const reaction2Btn = document.getElementById('reaction2btn')

		const reaction3 = document.getElementById('reaction3')
		const reaction3Btn = document.getElementById('reaction3btn')

		const reaction4 = document.getElementById('reaction4')
		const reaction4Btn = document.getElementById('reaction4btn')

		const reaction5 = document.getElementById('reaction5')
		const reaction5Btn = document.getElementById('reaction5btn')

		const reactions = [
			reaction1, reaction2, reaction3, reaction4, reaction5
		]

		const reactionBtns = [
			reaction1Btn, reaction2Btn, reaction3Btn, reaction4Btn, reaction5Btn
		]

		for (let i = 0; i < reactions.length; i++) {
			reactionBtns[i].addEventListener('click', () => {
				reactions[i].innerHTML = parseInt(reactions[i].innerHTML) + 1;
			});
		};

		document.body.onkeyup = function(e){
		    if(e.keyCode == 32){
					document.getElementById("ai").display = "block";
						setInterval(() => {
							reactions[0].innerHTML = parseInt(reactions[0].innerHTML) + 1;
						}, 2000);

						setInterval(() => {
							reactions[1].innerHTML = parseInt(reactions[1].innerHTML) + 1;
						}, 1800);

						setInterval(() => {
							reactions[2].innerHTML = parseInt(reactions[2].innerHTML) + 1;
						}, 5200);

						setInterval(() => {
							reactions[3].innerHTML = parseInt(reactions[3].innerHTML) + 1;
						}, 3240);

						setInterval(() => {
							reactions[4].innerHTML = parseInt(reactions[4].innerHTML) + 1;
						}, 4300);
			    }
		}

		const commentList = document.getElementById('comment-list')
		const submitCommentBtn = document.getElementById('submit-comment-btn')
		const textarea = document.getElementById('textarea')
		submitCommentBtn.addEventListener('click', () => {
			if (textarea.value !== '') {
				const div = document.createElement('div')
				const img = document.createElement('img')
				const p   = document.createElement('p')

				div.style.display = 'flex'
				div.style.alignItems = 'center'
				div.style.padding = '8px'
				div.style.borderBottom = '1px solid #0f0f10'

				img.src = '/static/images/userpic2.png'
				img.style.width = '30px'
				img.style.borderRadius = '50%'
				img.style.marginRight = '15px'

				p.innerHTML = textarea.value
				p.style.color = '#fafafa'
				p.style.fontWeight = '200'

				textarea.value = ''

				div.appendChild(img)
				div.appendChild(p)
				commentList.prepend(div)
			}
		});

		document.getElementById("file").onchange = function() {
				document.getElementById("form").submit();
		};
	</script>
</html>
