<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Vortex | Welcome to the Vortex</title>
		<link rel="stylesheet" href="{{url_for('static', filename='landing.css') }}">
		<style>
				input {
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
					padding: 8px;
					border: none;
					width: 250px;
				}

				input:focus {
					outline: none;
				}
		</style>

	</head>
	<body>
		<video autoplay muted loop id="myVideo">
			<source src="{{url_for('static', filename='images/video.mp4') }}" type="video/mp4">
		</video>
		<header class='nav'>
			<img class='logo' src="{{url_for('static', filename='images/logo1nobg.png') }}"/>
			<ul>
				<li><a href=''>Events around the globe</a></li>
				<li><a href=''>Events nearby me</a></li>
				<li><a href=''>Sign In</a></li>
			</ul>
		</header>
		<main>
			<header>
				<h1>Welcome to the Vortex!</h1>
				<h2>Enter your pseudoname:</h2>
				<form action = "/setcookie" method = "POST">
					<p><input type = 'text' name = 'nm'/></p><br>
					<p><input type = 'submit' value = 'Login'/></p>
				</form>
			</header>
		</main>
	</body>
</html>
